* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
a {
    text-decoration: none !important;
}
ul li
{
    list-style: none;
}
p {
    color: #9C9EA1;
}
h3,
h4 {
    color: #C1A151;
}
h5 {
    color: #AC6875;
}

.navbar-brand img {
    margin-left: 100% !important;
    height:80px;
    width: auto;
}
@media(max-width:600px)
{
    .navbar-brand img
    {
        margin-left:10px !important;
    }

}

.navbar .collapse {
    margin-right: 10%;
}

.bg-color {
    background-color: #fff;
}

/* Slider icon alignment */
.carousel-control-prev-icon
{
    margin-left: -90%;
}
.carousel-control-next-icon
{
    margin-right: -90%;
}
.carousel-control-prev-icon,
      .carousel-control-next-icon {
        background-color: rgba(0, 0, 0, 0.5); /* Add a background to make them more visible */
        border-radius: 50%;
        padding: 10px;
        /* margin-left: 30%; */
      }

      .carousel-control-prev,
      .carousel-control-next {
        top: 50%;
        /* transform: translateY(-50%); */
        width: 50px; /* Adjust the width of the control buttons */
      }



.nav-item .nav-link:hover {
    color: #AC6875;
}

  .dropdown-menu:hover
{
    background-attachment: red !important;
}

.section1 .overly {
    position: relative;
    top: -30px;
}

.overly:hover {
    background: #AC6875 !important;
    color: #fff;
}

.heading h3 {
    color: #C1A151 !important;
}

.testi p {
    color: #9C9EA1;
}

.background {
    background-color: #E2E6EF;
}

.btn1 a {
    /* border-image-slice: 1; */
    border: 1px solid #AC6875;
    padding: 7px;
    margin-bottom: 5px;
    border-radius: 5px;
    text-align: center;
    color: black;

    font-weight: 700;
}

.btn1 a:hover {
    background-color: #AC6875;
    color: #fff;
}
.footer1
{
    background-color: #AC6875!important;
    padding: 20px;
}
.footer a
{
    color: #fff;
    text-decoration: none;
}
/* About page */
.head h2
{
    color:#AC6875!important;
}
.head_text h4
{
    color: #AC6875 !important;
}

.rubber_product .rubber_img img
{
     height: 180px;
}
.fa-solid
{
    color: #AC6875 !important;
}
.contact .conheight
{
    height: 300px;
}

.infra .card 
{
    height: 280px;
}
.infra img
{
    height: 280px;
}

/* footer  */
 ul li a:hover
{
    color:#AC6875 !important;
}

.scroll
{
    height: 500px;
    overflow-y: scroll;
}









